nextflow.enable.dsl=2
$INITIAL_RUN_TYPE = "gzip"
$AUTOSCALE_MEMORY=true
params.reads = "" //* @input @file @optional @description:"Optional. If you want to use the BCL directory, please leave this input empty, enable run_mkfastq, and enter the BCL directory in its settings."
params.genome_build = "" //* @dropdown @label:"Genome Build" @options:"human_hg38_gencode_v32_cellranger_v6, human_hg38_cellranger_GRCh38-2024-A, mouse_mm10_gencode_vm23_cellranger_v6, mouse_GRCm39_cellranger_GRCm39-2024-A, human-mouse_cellranger_GRCh38-GRCm39-2024-A, zebrafish_GRCz11plus_ensembl, d_melanogaster_BDGP6_32_ensembl_105_cellranger_v6, d_melanogaster_flybase_r6_45_cellranger_v6, custom" @description:"If custom is selected, please manually enter the genome_source and gtf_source in the system inputs section and enable run_Download_Genomic_Sources."
params.custom_additional_genome = "" //* @input @label:"Custom Additional Fasta File (optional)" @optional @single_file @description:"Custom fasta file to use with the main genome file."
params.add_sequences_to_reference = "no" //* @dropdown @options:"yes","no" @show_settings:"params.custom_additional_genome, Add_chromosomes_to_genome_gtf" @description:"Please enter sequences you want to add to the genome."
params.run_FastQC =  "yes"  //* @dropdown @label:"Run FastQC" @options:"yes","no" @description:"It provides quality control checks on raw sequence data. <a target="_blank" href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC Documentation Link</a>"
params.run_bclConvert = "no" //* @dropdown @label:"Run BCL-Convert" @options:"yes","no" @show_settings:"demultiplexer_prep","bclConvert" @description:"This step converts BCL files into FASTQ files. If you enable this step, you can simply provide the <b>Sample</b> column values from the SampleSheet.csv file when entering libraries in the Cell Ranger multi or count <b>Libraries</b> sections. There’s no need to append sample IDs or lane information."
params.run_mkref = "no" //* @dropdown @label:"Run mkref" @options:"yes","no" @show_settings:"params.add_sequences_to_reference, cellranger_mkref" @description:"This step builds reference for cell ranger multi/count. If you want to skip this step, please select no and enter transcriptome location in system inputs."
params.run_cellranger_multi = "yes" //* @dropdown @label:"Run Cellranger Multi" @options:"yes","no" @show_settings:"params.feature_reference,params.cmo_set,params.VDJ_reference,cellranger_multi_library_prep,cellranger_multi_prep" @description:"<span style="color:red;">Important:</span> To enable Cell Ranger Multi, please click settings of <b>Run Cellranger Multi</b> and enter your samples by right click </br> and <b>Paste reads collection names</b> option in the <b>Libraries</b> section as described in the description of the pipeline. </br>Two fields are required for each sample: fastq-id and feature-types."
params.run_scRNA_Analysis = "yes" //* @dropdown @label:"Run scRNA-seq Analysis Module" @options:"yes","no" @show_settings:"params.Metadata, Load_Data_and_QC_h5,PCA_and_Batch_Effect_Correction,Clustering_and_Find_Markers,SCEtoLOOM" @description:"Performs downstream analysis such as QC, dimensionality reduction, clustering, and finding cluster markers."
params.Metadata = "" //* @input @single_file @optional @editor:{"collection_autofill":{"input_name":"reads", "column":"1"}, "type":"spreadsheet","filename":"metadata.tsv","separator":"tab","default":[["Sample","Condition"]]}
params.Cell_Annotation = "" //* @input @label:"Cell Annotation (optional)" @single_file @optional
params.replace_geneID_with_geneName = "no" //* @dropdown @options:"yes,no" @description:"Replaces gene_id attribute with gene_name attribute in the gtf file"
params.run_Download_Genomic_Sources = "no" //* @dropdown @label:"Download Genomic Sources" @options:"yes","no" @show_settings:"params.replace_geneID_with_geneName"
params.gtf_type='ensembl' //*  @dropdown @label:"GTF Type" @options:"ensembl","gencode"
params.cmo_set = "" //* @input @single_file @optional @description:"Optional. CMO set CSV file, declaring CMO constructs and associated barcodes."
params.feature_reference = "" //* @input  @optional @single_file @description:"Feature reference CSV file, declaring Feature Barcode constructs and associated barcodes. Required for Feature Barcode libraries, otherwise optional."
params.VDJ_reference = "" //* @input  @optional @single_file @description:"VDJ reference CSV file."


// Pipeline Defaults
defparams.MultiQC.multiqc_parameters = ""

includeConfig 'conf/base.config'

process {
    withLabel: scrna_seurat {
        container = 'quay.io/viascientific/scrna_seurat:2.0'
    }
    withLabel: base_image {
        container = 'quay.io/viascientific/pipeline_base_image:1.0'
    }
}


