
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

process {
    errorStrategy = 'retry'
    maxRetries    = 2
}

_species = ""
_buildGen = ""
_shareGen = ""

//* autofill
if (params.genome_build == "human_hg38_gencode_v32_cellranger_v6"){
    _species = "human"
    _buildGen = "hg38_gencode_v32_cellranger_v6"
    params.gtf_type='gencode'
} else if (params.genome_build == "human_hg38_cellranger_GRCh38-2024-A"){
    _species = "human"
    _buildGen = "refdata-gex-GRCh38-2024-A" 
    params.gtf_type='gencode'
} else if (params.genome_build == "mouse_mm10_gencode_vm23_cellranger_v6"){
    _species = "mouse"
    _buildGen = "mm10_gencode_vm23_cellranger_v6" 
    params.gtf_type='gencode'
} else if (params.genome_build == "mouse_GRCm39_cellranger_GRCm39-2024-A"){
    _species = "mouse"
    _buildGen = "refdata-gex-GRCm39-2024-A" 
    params.gtf_type='gencode'
} else if (params.genome_build == "human-mouse_cellranger_GRCh38-GRCm39-2024-A"){
    _species = "human_mouse"
    _buildGen = "refdata-gex-GRCh38_and_GRCm39-2024-A" 
    params.gtf_type='gencode'
} else if (params.genome_build == "zebrafish_GRCz11plus_ensembl"){
    _species = "zebrafish"
    _buildGen = "GRCz11"
    params.gtf_type='ensembl'
} else if (params.genome_build == "d_melanogaster_BDGP6_32_ensembl_105_cellranger_v6"){
    _species = "d_melanogaster"
    _buildGen = "BDGP6_32_ensembl_105_cellranger_v6"
    params.gtf_type='ensembl'
} else if (params.genome_build == "d_melanogaster_flybase_r6_45_cellranger_v6"){
    _species = "d_melanogaster"
    _buildGen = "flybase_r6_45_cellranger_v6"
    params.gtf_type='ncbi'
} else if (params.genome_build == "custom"){
    params.transcriptome = "NA"
    params.gtf_type      = 'ncbi'
    params.gtf           =  "NA"
    params.genome        =  "NA"
}


if ($HOSTNAME == "default"){
    _shareGen = "${params.DOWNDIR}/genome_data_other/cellranger"
    $SINGULARITY_IMAGE = "quay.io/viascientific/cellranger:11.0"
    $DOCKER_IMAGE = "quay.io/viascientific/cellranger:11.0"
}
//* platform
//* platform
if (params.genome_build && $HOSTNAME){
    params.transcriptome = "${_shareGen}/${_species}/${_buildGen}/${_buildGen}"
    params.cellranger_path = "cellranger"
    params.genome_source   = "${_shareGen}/${_species}/${_buildGen}/${_buildGen}/fasta/genome.fa"
    params.gtf_source      = "${_shareGen}/${_species}/${_buildGen}/${_buildGen}/genes/genes.gtf"
    params.commondb_source = "NA"

    params.genome       = "${_shareGen}/${_species}/${_buildGen}/${_buildGen}/fasta/genome.fa"
    params.genome_sizes = "NA"
    params.bed          = "NA"
    params.gtf          = "${_shareGen}/${_species}/${_buildGen}/${_buildGen}/genes/genes.gtf"
    params.commondb     = "NA"
}
if (params.genome_build == "human_hg38_gencode_v32_cellranger_v6" && $HOSTNAME){
    params.VDJ_reference = "${_shareGen}/${_species}/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.0.0/"
}
if (params.genome_build == "human_hg38_cellranger_GRCh38-2024-A" && $HOSTNAME){
    params.VDJ_reference = "${_shareGen}/${_species}/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.1.0/"
}
if (params.genome_build == "mouse_mm10_gencode_vm23_cellranger_v6" && $HOSTNAME){
    params.VDJ_reference = "${_shareGen}/${_species}/refdata-cellranger-vdj-GRCm38-alts-ensembl-7.0.0/"
}
if (params.genome_build == "mouse_GRCm39_cellranger_GRCm39-2024-A" && $HOSTNAME){
    params.VDJ_reference = "${_shareGen}/${_species}/refdata-cellranger-vdj-GRCm38-alts-ensembl-7.0.0/"
}
if ($HOSTNAME){
    params.pdfbox_path = "/usr/local/bin/dolphin-tools/pdfbox-app-2.0.0-RC2.jar"
    params.gtf2bed_path = "/usr/local/bin/dolphin-tools/gtf2bed"
    params.senseantisense = "/usr/local/bin/dolphin-tools/senseantisense.pl"
    params.mate = "pair"
}
//* autofill
